@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@font-face { 	font-family: "Amarillo"; 	src: url('../font/Amarillo.woff'); }




html,button,input,select,textarea,i{
    color: rgb(58, 0, 0);
    font-family: calibri;
    margin-left:5px;
}

html{
    font-size: 1em;
    line-height: 1.4;
    background-image: url('../images/background.jpg');
}

#wrapper{
    max-width: 900px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.image{
    float: right;
}

header{
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 2px 4px rgba(0,0,0,0.2);  
    text-align: center;
}

.no-style-list{
    list-style: none;
}

h1,h2{
    font-family: Amarillo, Devonshire,sans-serif;
    src: local('font/Amarillo.ttf');
    padding-top: 20px;
}

.profession{
    font-family: Amarillo, Devonshire,sans-serif;
    padding-bottom: 20px;
}

.infos{
    display: flex;
}

.icons{
    margin-right: 10px;
    text-align: center;
}

footer{
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 2px 4px rgba(0,0,0,0.2);  
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
    font-family: calibri;
}
a{
    padding-right:20px;
    padding-left:20px;
    color:rgb(58, 0, 0);
}

.content{
    transition: 0.6s linear;
}


.fa-plus{
    margin-right:10px;
}

.tooltip {
    display: none;
    background: rgb(58, 0, 0);
    color: #F9F9F9;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    max-width: 200px;
}

.competences{
    margin:10px;
}

.competences:hover .tooltip {
    display: block;
}



.vl {
    border-left: 6px solid rgb(58, 0, 0);
    height: 31vw;
    margin-left: 1vw;
  }
  .vl2 {
    border-bottom: 6px solid rgb(58, 0, 0);
    width: 32vw;
    margin-left: 1vw;
    
  }
  .vll{
    transform: rotate(180deg);
  }